<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Piatti e prodotti</title>

    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../../../static/css/restaurant.css" rel="stylesheet" th:href="@{/css/restaurant.css}"/>
</head>
<body>
    <nav th:replace="fragments/headers :: header_navbar"></nav>

    <main class="container-fluid" role="main">
        <div class="alert_error row row-cols-xl-1 mt-md-5" th:if="${creation_error}">
            <div class="col-xl-12">
                <div class="alert alert-danger" role="alert">
                    <strong th:text="${creation_error}"></strong>
                    <button type="button" class="close" aria-label="Close" onclick="closeAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row row-cols-xl-1 mt-md-5">
            <div class="col-xl-10">
                <H2 class="mt-2">Piatti e prodotti</H2>
            </div>
            <div class="col-xl-2">
                <a class="btn btn-success pull-right mt-2" th:href="@{/restaurants/{id}/products/create(id=${r_id})}">Nuovo prodotto</a>
            </div>
        </div>

        <div class="row row-cols-xl-1 mt-2">
            <div class="col-xl-12">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Igredienti</th>
                        <th scope="col">Prezzo</th>
                        <th scope="col">Opzioni</th>
                    </tr>
                    </thead>
                    <tbody id="products">
                        <th:block th:each="product : ${products}">
                            <tr>
                                <td th:utext="${product.name}"></td>
                                <td th:utext="${product.category}"></td>
                                <td th:utext="${product.ingredients}"></td>
                                <td th:utext="${product.price}"></td>
                                <td>
                                    <div class="option-table-buttons">
                                        <a class="btn btn-warning btn-sm fa fa-edit mr-2" th:href="@{/restaurants/{r_id}/products/{p_id}/update(r_id=${r_id}, p_id=${product.id})}"></a>
                                        <a class="btn btn-danger btn-sm fa fa-trash" th:href="@{/restaurants/{r_id}/products/{p_id}/delete(r_id=${r_id}, p_id=${product.id})}"></a>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row row-cols-xl-1">
            <div class="col-xl-2">
                <a class="btn btn-secondary pull-left mt-2" th:href="@{/restaurants/{id}/(id=${r_id})}">Torna all'attività</a>
            </div>
            <div class="col-xl-10"></div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script>
        function closeAlert() {
            const container = document.querySelector("main.container-fluid");
            const alertDiv = document.querySelector("div.alert_error");
            container.removeChild(alertDiv);
        }
    </script>
</body>
</html>