<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title th:utext="${add}
        ? 'Creazione profilo'
        : ${ownerProfile.getFullName() + ' - Update'}"
    >
    </title>

    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../../../static/css/forms.css" rel="stylesheet" th:href="@{/css/forms.css}"/>
</head>
<body>
<nav th:replace="fragments/headers :: header_navbar"></nav>

<main class="container form" role="main">
    <div class="content form">
        <div class="form profile">
            <h1 class="mt-md-3" th:text="${add} ? 'Creazione nuovo profilo' : 'Modifica profilo per ' + ${ownerProfile.getFullName() }"></h1>
            <form th:action="${add} ? @{/registration/complete} : @{/profile/edit}" method="post"
                  th:object="${ownerProfile}" class="needs-validation" novalidate
            >
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" th:field="*{name}" th:value="*{name}" class="form-control" id="name" aria-describedby="nameInput"
                           th:classappend="${#fields.hasErrors('name')} ? is-invalid"
                    >
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>

                <div class="form-group">
                    <label for="lastName">Cognome</label>
                    <input type="text" th:field="*{lastName}" th:value="*{lastName}" class="form-control" id="lastName"
                           th:classappend="${#fields.hasErrors('lastName')} ? is-invalid"
                    >
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                </div>
                <div class="form-group">
                    <label for="dateOfBirth">Data di nascita</label>
                    <input type="date" th:field="*{dateOfBirth}" th:value="*{dateOfBirth}" class="form-control" id="dateOfBirth"
                           th:classappend="${#fields.hasErrors('dateOfBirth')} ? is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></div>
                </div>
                <div class="form-group">
                    <label for="country">Stato di provenienza</label>
                    <input type="text" th:field="*{country}" class="form-control" id="country"
                           th:classappend="${#fields.hasErrors('country')} ? is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
                </div>
                <div class="form-group">
                    <label for="city">Città di provenienza</label>
                    <input type="text" th:field="*{city}" class="form-control" id="city"
                           th:classappend="${#fields.hasErrors('city')} ? is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                </div>
                <div class="form-group">
                    <label for="fiscalNumber">Codice fiscale</label>
                    <input type="text" th:field="*{fiscalNumber}" class="form-control" id="fiscalNumber"
                           th:classappend="${#fields.hasErrors('fiscalNumber')} ? is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('fiscalNumber')}" th:errors="*{fiscalNumber}"></div>
                </div>

                <button type="submit" class="btn btn-lg btn-block btn-primary" th:utext="${add} ? 'Crea utente' : 'Aggiorna profilo utente'"></button>
            </form>
        </div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>
</body>
</html>