<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title th:utext="${profile.getFullName()}"></title>

    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../../../static/css/profile.css" rel="stylesheet" th:href="@{/css/profile.css}"/>
</head>
<body>

    <nav th:replace="fragments/headers :: header_navbar"></nav>

    <main class="container-fluid" role="main">

        <div class="row row-cols-xl-2 mt-md-5">
                <div class="col-xl-6">
                    <div class="card profile_info">
                        <div class="card-header">
                            <h5 class="card-title mt-3" th:utext="${profile.getFullName()}"></h5>
                        </div>

                        <div class="card-body">
                            <p class="card-text">
                                <i class="mr-1 fa fa-map-marker"></i>
                                <span th:utext="${profile.getCity() + ', ' + profile.getCountry()  }"></span>
                            </p>

                            <p class="card-text">
                                <i class="fa mr-1 fa-envelope"></i>
                                <span th:utext="${mail}"></span>
                            </p>

                            <p class="card-text">
                                <i class="fa mr-1 fa-birthday-cake"></i>
                                <span th:utext="${profile.friendlyDob()}"></span>
                            </p>

                            <p class="card-text">
                                <i class="fa mr-1 fa-id-card"></i>
                                <span th:utext="${profile.getFiscalNumber()}"></span>
                            </p>

                            <a class="btn btn-primary btn-lg btn-block" th:href="@{/profile/edit}">
                                Aggiorna profilo
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"></div>
            </div>

        <div class="alert_error row row-cols-xl-1 mt-md-5" th:if="${creation_error}">
            <div class="col-xl-12">
                <div class="alert alert-danger" role="alert">
                    <strong th:text="${creation_error}"></strong>
                    <button type="button" class="close" aria-label="Close" onclick="closeAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row row-cols-xl-1 mt-md-5">
            <div class="col-xl-10">
                <H2 class="mt-2">Lista attività</H2>
            </div>
            <div class="col-xl-2">
                <a class="btn btn-success pull-right mt-2" th:href="@{/restaurants/create}">Nuova attività</a>
            </div>
        </div>

        <div class="row row-cols-xl-1 mt-2">
            <div class="col-xl-12">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrizione</th>
                        <th scope="col">Tipologia</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Indirizzo</th>
                        <th scope="col">Opzioni</th>
                    </tr>
                    </thead>
                    <tbody id="restaurants">
                    </tbody>
                </table>
            </div>
        </div>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script>
        function closeAlert() {
            const container = document.querySelector("main.container-fluid");
            const alertDiv = document.querySelector("div.alert_error");
            container.removeChild(alertDiv);
        }
    </script>
    <script>
        (() => {
            const origin = window.location.origin;
            const endpoint = `${origin}/restaurants/`
            fetch(endpoint)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const tableBody = document.querySelector("table tbody#restaurants");
                    data.forEach(restaurant => {
                        const tr = document.createElement("tr");

                        if(restaurant.hasOwnProperty("name")) {
                            const td = document.createElement("td");
                            const textValue = document.createTextNode(restaurant["name"]);
                            td.appendChild(textValue);
                            tr.appendChild(td);
                        }

                        if(restaurant.hasOwnProperty("description")) {
                            const td = document.createElement("td");
                            const textValue = document.createTextNode(restaurant["description"]);
                            td.appendChild(textValue);
                            tr.appendChild(td);
                        }

                        if(restaurant.hasOwnProperty("type")) {
                            const td = document.createElement("td");
                            const textValue = document.createTextNode(restaurant["type"]);
                            td.appendChild(textValue);
                            tr.appendChild(td);
                        }

                        if(restaurant.hasOwnProperty("phoneNumber")) {
                            const td = document.createElement("td");
                            const textValue = document.createTextNode(restaurant["phoneNumber"]);
                            td.appendChild(textValue);
                            tr.appendChild(td);
                        }

                        if(restaurant.hasOwnProperty("address")) {
                            const td = document.createElement("td");
                            const textValue = document.createTextNode(restaurant["address"]);
                            td.appendChild(textValue);
                            tr.appendChild(td);
                        }

                        if(restaurant.hasOwnProperty("id")) {
                            const td = document.createElement("td");
                            const div = document.createElement("div")
                            const view = document.createElement("a");
                            const edit = document.createElement("a");
                            const del = document.createElement("a");

                            div.setAttribute("class", "option-table-buttons");

                            view.setAttribute("href",`${endpoint}${restaurant["id"].toString()}`);
                            view.setAttribute("class",`btn btn-success btn-sm fa fa-eye`);

                            edit.setAttribute("href",`${endpoint}${restaurant["id"].toString()}/update`);
                            edit.setAttribute("class",`btn btn-warning ml-2 mr-2 btn-sm fa fa-edit`);

                            del.setAttribute("href",`${endpoint}${restaurant["id"].toString()}/delete`);
                            del.setAttribute("class",`btn btn-danger btn-sm fa fa-trash`);

                            div.appendChild(view);
                            div.appendChild(edit);
                            div.appendChild(del);

                            td.appendChild(div);

                            tr.appendChild(td);
                        }

                        tableBody.appendChild(tr);
                    })
                })
        })()
    </script>
</body>
</html>