<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title th:utext="${add}
        ? 'Nuova attività'
        : ${restaurantForm.getName() + ' - Update'}"
    ></title>

    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../../../static/css/forms.css" rel="stylesheet" th:href="@{/css/forms.css}"/>
</head>
<body>
    <nav th:replace="fragments/headers :: header_navbar"></nav>

    <main class="container form" role="main">
        <div class="content form">
            <div class="form restaurants">
                <h1 class="mt-md-3" th:text="${add} ? 'Nuova attività commerciale' : 'Modifica ' + ${restaurantForm.name}"></h1>
                <form method="post" th:action="${add} ? @{/restaurants/create} : @{/restaurants/{id}/update(id=${id})}"
                      th:object="${restaurantForm}" class="needs-validation" novalidate
                >
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" th:field="*{name}" th:value="*{name}" class="form-control" id="name" aria-describedby="nameInput"
                               th:classappend="${#fields.hasErrors('name')} ? is-invalid"
                        >
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>

                    <div class="form-group">
                        <label for="cuisine">Tipologia di cucina</label>
                        <input type="text" th:field="*{cuisine}" th:value="*{cuisine}" class="form-control" id="cuisine"
                               th:classappend="${#fields.hasErrors('cuisine')} ? is-invalid"
                        >
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('cuisine')}" th:errors="*{cuisine}"></div>
                    </div>

                    <div class="form-group">
                        <label for="type">Tipo di attività</label>
                        <input type="text" th:field="*{type}" th:value="*{type}" class="form-control" id="type"
                               th:classappend="${#fields.hasErrors('type')} ? is-invalid"
                        >
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
                    </div>

                    <div class="form-group">
                        <label for="foodCategories">Categorie di piatti serviti</label>
                        <input type="text" th:field="*{foodCategories}" th:value="*{foodCategories}" class="form-control" id="foodCategories"
                               th:classappend="${#fields.hasErrors('foodCategories')} ? is-invalid"
                        >
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('foodCategories')}" th:errors="*{foodCategories}"></div>
                    </div>

                    <div class="form-group">
                        <label for="description">Descrizione</label>
                        <textarea rows="10" th:field="*{description}" th:value="*{description}" class="form-control" id="description"
                               th:classappend="${#fields.hasErrors('description')} ? is-invalid"
                        ></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                    </div>

                    <div class="form-group">
                        <label for="phone">Numero di telefono</label>
                        <input type="text" th:field="*{phoneNumber}" th:value="*{phoneNumber}" class="form-control" id="phone"
                               th:classappend="${#fields.hasErrors('phoneNumber')} ? is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                    </div>

                    <div class="form-group">
                        <label for="address">Indirizzo</label>
                        <input type="text" th:field="*{address}" class="form-control" id="address"
                               th:classappend="${#fields.hasErrors('address')} ? is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                    </div>
                    <div class="form-group">
                        <label for="vat">Partita IVA</label>
                        <input type="text" th:field="*{vatNumber}" class="form-control" id="vat"
                               th:classappend="${#fields.hasErrors('vatNumber')} ? is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('vatNumber')}" th:errors="*{vatNumber}"></div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-primary" th:utext="${add} ? 'Aggiungi Ristorante' : 'Modifica Ristorante'"></button>
                </form>
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>
</body>
</html>