@import url("main.css");

.container.form {
    margin-top: 55px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    align-items: center;
    justify-content: center;
}

.content.form {
    margin: 0;
    align-items: center;
    justify-content: center;
}

.form.profile, .form.registration, .form.product {
    width: 70%;
}

.form.restaurants {
    width: 70%;
    margin-top: 450px;
    margin-bottom: 200px;
}

.form.login {
    width: 33%;
}