@import url('main.css');

.container-fluid.homepage {
    background-image: url("../img/home4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 55px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid.homepage h1 {
    text-align: center;
    font-size: 6em;
    color: #e6e0d9;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
}

.container-fluid.homepage p {
    font-size: 2.7em;
    text-align: center;
    font-weight: lighter;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    color: #e39e74;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}