<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Registrazione</title>

    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../../../static/css/forms.css.css" rel="stylesheet" th:href="@{/css/forms.css}"/>
</head>
<body>
    <nav th:replace="fragments/headers :: header_navbar"></nav>

    <main class="container form" role="main">
        <div class="content form">
            <div class="form registration">
                <h1 class="mt-md-3" th:text="'Form di registrazione'"></h1>
                <form action="#" th:action="@{/registration}" th:object="${registrationForm}" method="post" class="needs-validation" novalidate>
                    <div th:if="${registration_error}" class="form-group">
                        <div class="alert alert-danger" th:text="${registration_error}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" th:field="*{email}" class="form-control" id="email" aria-describedby="emailHelp"
                            th:classappend="${#fields.hasErrors('email')} ? is-invalid"
                        >
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" th:field="*{password}" class="form-control" id="password"
                            th:classappend="${#fields.hasErrors('password')} ? is-invalid"
                        >
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordConfirmation">Conferma Password</label>
                        <input type="password" th:field="*{passwordConfirmation}" class="form-control" id="passwordConfirmation"
                               th:classappend="${#fields.hasErrors('global')} ? is-invalid">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>
</body>
</html>